apps/n8n/workflows/autopost.template.json
{
  "name": "Autopost (Template)",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "node-manual-trigger-4",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        260,
        300
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            { "name": "tenantId", "value": "demo-tenant" },
            { "name": "assetId", "value": "asset_123" },
            { "name": "channel", "value": "tiktok" }
          ],
          "json": [
            { "name": "metadata", "value": { "caption": "My new post", "hashtags": ["#ai", "#creator"] } }
          ]
        }
      },
      "id": "node-set-payload-4",
      "name": "Set Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "none",
        "url": "={{$env.API_BASE_URL || 'http://localhost:3000'}}/autopost",
        "options": {
          "sendHeaders": true,
          "headerParametersJson": "{\n  \"Authorization\": \"Bearer {{$env.API_TOKEN || 'dev-token'}}\",\n  \"Content-Type\": \"application/json\"\n}"
        },
        "method": "POST",
        "jsonParameters": true,
        "sendBody": true,
        "bodyParametersJson": "={{JSON.stringify($json)}}"
      },
      "id": "node-http-create-4",
      "name": "Publish",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        800,
        300
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          { "node": "Set Payload", "type": "main", "index": 0 }
        ]
      ]
    },
    "Set Payload": {
      "main": [
        [
          { "node": "Publish", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": {},
  "tags": ["template", "autopost"]
}

