apps/n8n/workflows/content-plan.template.json
{
  "name": "Content Plan (Template)",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "node-manual-trigger-1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        260,
        300
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            { "name": "tenantId", "value": "demo-tenant" },
            { "name": "influencerId", "value": "influencer-001" },
            { "name": "persona", "value": "tech-creator" },
            { "name": "topic", "value": "AI tools for creators" }
          ],
          "boolean": [
            { "name": "dryRun", "value": true }
          ]
        }
      },
      "id": "node-set-payload-1",
      "name": "Set Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "none",
        "url": "={{$env.API_BASE_URL || 'http://localhost:3000'}}/content-plans",
        "options": {
          "sendHeaders": true,
          "headerParametersJson": "{\n  \"Authorization\": \"Bearer {{$env.API_TOKEN || 'dev-token'}}\",\n  \"Content-Type\": \"application/json\"\n}"
        },
        "method": "POST",
        "jsonParameters": true,
        "sendBody": true,
        "bodyParametersJson": "={{JSON.stringify($json)}}"
      },
      "id": "node-http-create-1",
      "name": "Create Content Plan",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        800,
        300
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          { "node": "Set Payload", "type": "main", "index": 0 }
        ]
      ]
    },
    "Set Payload": {
      "main": [
        [
          { "node": "Create Content Plan", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": {},
  "tags": ["template", "content-plan"]
}

